 input.Text{
            display: block;
            height: inherit;
            margin: 5px;
            }
            div.titulo {
                    text-align: center;
                    font-size: 25px;
            }

        </style>

        <style type="text/css">
        
        #buttons  {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
        }

